<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
</head>
<body>
<section layout:fragment="content">
    <h1>Welcome to Our Online Store!</h1>
    <div>
        <a th:href="@{/store/products?categoryID=1}">
            <img src="/image/cpu.jfif" alt="CPU">
        </a>
        <a th:href="@{/store/products?categoryID=2}">
            <img src="/image/motherboard.jfif" alt="Motherboard">
        </a>
        <a th:href="@{/store/products?categoryID=3}">
            <img src="/image/download.jfif" alt="GPU">
        </a>
    </div>
</section>
</body>
</html>