<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">

</head>
<body>
<section layout:fragment="content">

    <div class="container mt-5">

        <div class="row justify-content-center">
            <div class="col-md-6 text-center">
                <h1 class="display-4 mb-4">Welcome!</h1>
                <p class="lead">Discover our wide range of products and get the best deals today.</p>
            </div>
        </div>

    </div>

</section>

</body>
</html>