<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8">
</head>

<body>
<section layout:fragment="content">
    <style>
        .list-group {
            border: 2px solid #303030;
        }
    </style>

    <div class="container mt-4">

        <h2 class="mb-4">Purchase History</h2>

        <ul class="list-group mb-5">
            <li th:each="racunDetail : ${purchaseHistory.racunDetailsList}" class="list-group-item">
                <h5 style="color: midnightblue; text-decoration: underline">Invoice ID: <span
                        th:text="${racunDetail.racun.idRacun}"></span></h5>
                <p>Time of Purchase: <span class="timestamp"
                                           th:attr="data-raw-timestamp=${racunDetail.racun.vrijemeKupovine}"
                                           th:text="${racunDetail.racun.vrijemeKupovine}"></span></p>
                <p>Payment Method: <span th:text="${racunDetail.racun.nacinKupovine}"></span></p>
                <p>Grand Total: <span th:text="${racunDetail.racun.ukupnaCijena} + ' €'"></span></p>

                <h6>Items:</h6>
                <ul class="list-group mt-2">
                    <li th:each="stavkaDetail : ${racunDetail.stavkeDetails}" class="list-group-item">
                        <p style="color: darkblue; text-decoration: underline">Item ID: <span
                                th:text="${stavkaDetail.idStavka}"></span></p>
                        <p>Product Name: <span th:text="${stavkaDetail.naziv}"></span></p>
                        <p>Individual Product Price (Current): <span th:text="${stavkaDetail.cijena} + ' €'"></span></p>
                        <p>Purchased Quantity: <span th:text="${stavkaDetail.kolicina}"></span></p>
                        <p>Total Price (Current): <span th:text="${stavkaDetail.cijena * stavkaDetail.kolicina} + ' €'"></span>
                        </p>
                    </li>
                </ul>
            </li>
        </ul>

    </div>

    <script>
        $(document).ready(function () {
            $(".timestamp").each(function () {
                let rawTimestamp = $(this).attr('data-raw-timestamp');
                let [datePart, timePart] = rawTimestamp.split("T");
                let [year, month, day] = datePart.split("-");
                let [hour, minute, second] = timePart.split(":").map(str => parseInt(str, 10));
                let formattedDateTime = `${day.padStart(2, '0')}/${month.padStart(2, '0')}/${year} at ${hour.toString().padStart(2, '0')}:${minute.toString().padStart(2, '0')}:${second.toString().padStart(2, '0')}`;
                $(this).text(formattedDateTime);
            });
        });
    </script>
</section>
</body>

</html>
