<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">

</head>
<body>
<section layout:fragment="content">
    <div class="container mt-4">
        <h2 class="mb-4">Admin purchase history</h2>

        <form id="filterForm" class="mb-4">
            <div class="form-now">
                <div class="form-group col-md-4">

                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username">
                </div>
                <div class="form-group col-md-4">
                    <label for="dateFrom">Date from</label>
                    <input type="date" class="form-control" id="dateFrom">

                </div>
                <div class="form-group col-md-4">
                <label for="dateTo">Date to</label>
                <input type="date" class="form-control" id="dateTo">

                </div>
            </div>
                <button type="button" class="btn btn-btn-outline mt-3 mb-3" onclick="fetchData()">Filter</button>
            </form>
        <div id="purchaseHistoryContainer"></div>
    </div>
    <script>

        function formatDateTime(rawTimestamp) {
            let [datePart, timePart] = rawTimestamp.split("T");
            let [year, month, day] = datePart.split("-");
            let [hour, minute, second] = timePart.split(":").map(str => parseInt(str, 10));
            return `${day.padStart(2, '0')}/${month.padStart(2, '0')}/${year} at ${hour.toString().padStart(2, '0')}:${minute.toString().padStart(2, '0')}:${second.toString().padStart(2, '0')}`;
        }
        function renderData(data) {
            let content = '<ul class="list-group mb-5">';
            data.forEach((userPurchases, index) => {
                let username = userPurchases.racunDetailsList[0].racun.username;
                content += `<li class="list-group-item">
                                        <h4 style="color: indianred; text-decoration: underline">Username: ${username}</h4>
                                        <ul class="list-group mt-2>`;
userPurchases.racunDetailsList.forEach((invoice) => {
    let formattedDateTime = formatDateTime(invoice.racun.vrijemeKupovine);
    content += `<li class="list-group-item">
                                            <h5 style="color: midnightblue; text-decoration: underline">Invoice ID: ${invoice.racun.idRacun}</h5>
                                            <p>Time of Purchase: ${formattedDateTime}</p>
                                            <p>Payment Method: ${invoice.racun.nacinKupovine}</p>
                                            <p>Grand Total: ${invoice.racun.ukupnaCijena} €</p>
                                            <h6>Items:</h6>
                                            <ul class="list-group mt-2">`;
    invoice.stavkeDetails.forEach((item) => {
        content += `<li class="list-group-item">
                                                    <p style="color: darkblue; text-decoration: underline">Item ID: ${item.idStavka}</p>
                                                    <p>Product Name: ${item.naziv}</p>
                                                    <p>Individual Product Price (Current): ${item.cijena} €</p>
                                                    <p>Purchased Quantity: ${item.kolicina}</p>
                                                    <p>Total Price (Current): ${item.cijena * item.kolicina} €</p>
                                                </li>`;
    });
    content += `</ul>
                                        </li>`;
});
content += `</ul>
                                    </li>`;
});
content += '</ul>';
document.getElementById('purchaseHistoryContainer').innerHTML = content;


}

function fetchData() {
            const username = document.getElementById('username').value;
            const dateFrom = document.getElementById('dateFrom').value;
            const dateTo = document.getElementById('dateTo').value;

            $.ajax({
                url: 'api/admin/purchases',
                type: 'GET',
                data: {
                    username: username,
                    dateFrom: dateFrom,
                    dateTo: dateTo
                },
                dataType: 'json',
                success: function (data) {
                    renderData(data);
                },
                error: function (error) {
                    console.error("Error fetching data:", error);
                }
            });
}
$(document).ready(function () {
    fetchData();
});

</script>

</section>

</body>
</html>